<h1>Flashies</h1>
<h4>A quick way to memorise things.</h4>

<h3>Create</h3>
<p>Create your own two-sided flashcards and organise them by decks.</p>

<h3>Flash 'Em!</h3>
<p>Enter Flash Mode and start studying with your selected deck. Flip card to reveal answers.</p>

<h3>Share</h3>
<p>Share your decks with friends easily with a public URL.</p>
