/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

// @import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
// @import 'materialize';

// COLOR ================
$blue: #0000ff;
$darkblue: #2e3192;
$pink: #ff00ff;
$slate: #4d4d4d;
$light: #f2f2f2;

.blue {color: $blue;}
.darkblue {color: $darkblue;}
.pink2 {color: $pink;}
.slate {color: $slate;}
.white {color: white;}
.light {color: $light; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: $light;
  background-image: url('noisePattern.png');
  background-repeat: repeat;
  background-blend-mode: multiply;
  box-sizing: border-box;
}

a {color: inherit;}
a:hover {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

// TYPOGRAPHY ===================
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin: 0;
}

.em {
  font-style: italic;
}

p {
  font-weight: 600;
  font-size: 1em;
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.3em;}

// LAYOUT ===================
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.toppad {
  padding-top: 20px;
}

.bottompad {
  padding-bottom: 20px;
}

.alert {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid $pink;
  border-radius: 3px;
  color: $pink;
  text-align: center;
  max-width: 50%;
  background-color: transparent;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

// NAV ===================
.navigation {
  color: $darkblue;
  background-color: transparent;

  .pad {padding: 15px 10px;}

  a {color: $pink;}

  a:hover {border-bottom: 2px solid $blue;}
}

// DEVISE FORMS ===================
.paper-wrap {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  margin: 20px auto 50px auto;
  box-shadow: 2px 2px 5px -2px #999;
  max-width: 600px;
  font-size: 0.9em;
  color: #999;

  h2 {
    color: $darkblue;
  }
  label {
    font-size: 0.9em;
    color: $slate;
  }
  .btn {
    background-color: $slate;
  }

  a {color: $pink;}
  a:hover {
    color: $blue;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
}

// APP INDEX ===================
.home {
  // background:
  //   linear-gradient(to right, $blue 0%, $pink 90%),
  //   url('background.jpeg');
  // background-size: cover;
  // background-blend-mode: multiply, difference;

  h5 {
    font-weight: 600;
    letter-spacing: 1px;
  }

  .wrapper {
    padding: 70px 0;
    text-align: center;
  }

  .home-logo {
    height: 70px;
  }
}

.intro {
  margin: 0 auto;
  max-width: 80%;
  display: inline;
  display: flex;
  flex-direction: row;

  .home-deck {
    // background-image: url('noisePattern.png');
    // background-color: $light;
    // background-blend-mode: multiply;
    flex:1;
    background-image: url('deck.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 230px;
    height: 350px;
    border-radius: 4px;
    padding: 40px 30px 20px 25px;
    margin: 0 auto;
    color: $slate;
    h3 {
      color: $blue;
    }
    img {
      height: 60px;
      padding-bottom: 15px;
    }
  }
}

.start {
  border-radius: 4px;
  border: 2px solid $blue;
  color: $blue;
  padding: 10px;
  max-width: 150px;
  margin: 50px auto;
}

.start:hover {
  color: $pink;
  border: 2px solid $pink;
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
// DECK INDEX ===================

  .deck-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }

  .deck {
    flex: 1;
    background-image: url('deck.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 220px;
    max-width: 220px;
    height: 300px;
    line-height: 220px;
    text-align: center;
    padding: 3%;
    margin: 0 auto;
    margin-top: 20px;
    overflow:hidden;
    color: $darkblue;

    .deck-content {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;

      .edit-grp {
        position: relative;
        top: 50%;
        border-top: 1px solid $light;
        margin-top: 20px;
        padding-top: 15px;

        a {
          padding: 0 10px;
          color: #999;
        }
      }

    }

    p {font-size: 0.9em;}

    h6 {
      color: $blue;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    h6:hover {
      color: $pink;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
    }
  }

  .add_btn {
    background-color: white;
    padding: 10px;
    max-width: 150px;
    color: $blue;
    margin: 20px auto;
    cursor: pointer;
    border: 2px solid white;
  }

  .add_btn:hover {
    border: 2px solid $blue;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .shift {
    margin-bottom: -15px;
  }


// DECK NEW ===================
.form-wrap {
  background-color: white;
  box-shadow: 2px 2px 5px -2px #999;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;

  #cancel {
    text-align: right;
    cursor: pointer;
  }

  .btn {
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: none;
    color: $blue;
  }
}

.newdeck {
  display: flex;
  flex-direction: row;
}
.leftside {
  background-color: white;
  box-shadow: 2px 2px 5px -2px #999;
  flex: 1;
  margin: 20px;
  padding: 30px;
}

.rightside {
  border: 2px solid white;
  flex: 3;
  margin: 20px;
  padding: 30px;
}

// NORMAL MODE ===================


// FLASH MODE ===================
.back {
  margin: 0;
  margin-top: 30px;

  a{
    color: #999;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 3px;
    text-decoration: none;
  }

  a:hover {
    color: $darkblue;
    border: 2px solid $darkblue;
  }

}
.flash {
  //background-image: url('background.jpeg');
  //background-size: cover;
  //background:
    //linear-gradient($darkblue 0%, $pink 90%),
    //url('background.jpeg');
  //background-blend-mode: multiply, difference;;
  //color: white;
  //height: 100vh;

  h1, p {
    margin: 0;
    margin-top: 15px;
  }
  a {
    color: $blue;
    padding: 10px;
  }

  a:hover {
    border-bottom: 2px solid $pink;
  }
}

// CARD FLIP ========


.flip {
    -webkit-perspective: 800;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotateY(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotateY(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}




// FOOTER ===================
