<%= render "layouts/navbar" %>
<div class="wrapper">

  <p class="darkblue right"><%= link_to "Cancel", decks_path %></p>
  <h1 class="darkblue center">Create A New Deck</h1>


<div class="newdeck">
  <div class="leftside">
    <%= render 'form' %>
  </div>

  <div class="rightside">
    <h5>Add Cards</h5>
  </div>
</div>



</div>
